@model MVCServis.Areas.SYADMIN.Models.Kullanicilar

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/SYADMIN/Views/Shared/_LayoutSYadmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Kullanicilar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bolum.BolumAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bolum.BolumAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yetki.yetkiadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yetki.yetkiadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sifre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sifre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oluşturmaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oluşturmaTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Anasayfaya Dön", "Index", "Home")
    <br />
    @Html.ActionLink("Listeye Git", "Liste")
</p>
