@model IEnumerable<MVCServis.Areas.SYADMIN.Models.tekniker>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SYADMIN/Views/Shared/_LayoutSYadmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teknikerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teknikerAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teknikerIsYuk)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teknikerNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teknikerAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teknikerIsYuk)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.id })*@

            @Html.ActionLink("Atama Yap", "Index", new { id = item.id})
        </td>
    </tr>
}

</table>
