<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">REBEL ELEKTRONİK</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a href="@Url.Action("Index","Home")">Home Page</a></li>
                        <li><a href="@Url.Action("About","Home")">About</a></li>
                        <li><a href="@Url.Action("Services","Home")">Services</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>*@
                    <li class="active"><a href="@Url.Action("Index","Home")" data-nav-section="home"><span>Ana Sayfa</span></a></li>
                    <li><a href="#" data-nav-section="about"><span>Hakkımızda</span></a></li>
                    <li><a href="@Url.Action("Services","Home")" data-nav-section="services"><span>Hizmetlerimiz</span></a></li>
                    <li><a href="@Url.Action("Contact","Home")" data-nav-section="features"><span>Contact</span></a></li>
                    <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
                    <li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
                    <li><a href="#" data-nav-section="press"><span>Press</span></a></li>
                    
</ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("UserGiris","UserG")" class="btn btn-default btn-sm pull-right" style="visibility:@ViewBag.Cikis;">Giriş</a></li>
                    <li class="dropdown" style="visibility:@ViewBag.Giris;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Hesabım
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img src="@ViewBag.Foto"
                                                 alt="Alternate Text" class="img-responsive" />
                                            <p class="text-center small">
                                                <a href="#">Change Photo</a>
                                            </p>
                                        </div>
                                        <div class="col-md-7">
                                            <span>@ViewBag.usrAdi</span>
                                            <p class="text-muted small">
                                                @ViewBag.usrEmail
                                            </p>
                                            <div class="divider">
                                            </div>
                                            <a href="#" class="btn btn-primary btn-sm active">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-footer">
                                    <div class="navbar-footer-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#" class="btn btn-default btn-sm">Şifre Değiştir</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="@Url.Action("UserCikis","UserG")" class="btn btn-default btn-sm pull-right">Çıkış</a> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="padding-top:1em;">
        @RenderBody()
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 footerleft ">
                    <div class="logofooter"><img src="~/img/44.jpg" style="width:35%;height:35%;" /></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
                    <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
                    <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>

                </div>
                <div class="col-md-2 col-sm-6 paddingtop-bottom">
                    <h6 class="heading7">GENERAL LINKS</h6>
                    <ul class="footer-ul">
                        <li><a href="#"> Career</a></li>
                        <li><a href="#"> Privacy Policy</a></li>
                        <li><a href="#"> Terms & Conditions</a></li>
                        <li><a href="#"> Client Gateway</a></li>
                        <li><a href="#"> Ranking</a></li>
                        <li><a href="#"> Case Studies</a></li>
                        <li><a href="#"> Frequently Ask Questions</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom">
                    <h6 class="heading7">LATEST POST</h6>
                    <div class="post">
                        <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
                        <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
                        <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 paddingtop-bottom">
                    <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <div class="fb-xfbml-parse-ignore">
                            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer start from here-->
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© @DateTime.Now.Year - All Rights with Webenlance</p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="#">webenlance.com</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Faq's</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/main.js"></script>
</body>
</html>
