@{
    ViewBag.Title = "Home Page";

}
<link href="~/Content/slider.css" rel="stylesheet" />
<script src="~/Scripts/slider.js"></script>
<script src="~/Scripts/jssor.slider-24.1.2.min.js"></script>

<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position:absolute;top:0px;left:0px;background:url('../../img/loading.gif') no-repeat 50% 50%;background-color:rgba(0, 0, 0, 0.7);"></div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">
        <div>
            <img data-u="image" src="~/img/sm-buyuk/ipad-605439_1920.jpg" />
            <div style="position:absolute;top:30px;left:30px;width:480px;height:120px;z-index:0;font-size:50px;color:#ffffff;line-height:60px;">TOUCH SWIPE SLIDER</div>
            <div style="position:absolute;top:300px;left:30px;width:480px;height:120px;z-index:0;font-size:30px;color:#ffffff;line-height:38px;">Build your slider with anything, includes image, content, text, html, photo, picture</div>
            <div style="position:absolute;top:120px;left:650px;width:470px;height:220px;z-index:0;">
                <img style="position:absolute;top:0px;left:0px;width:470px;height:220px;z-index:0;" src="~/img/galaxy-s8_performance_kv_phone.png" />
                <div style="position:absolute;top:4px;left:45px;width:379px;height:213px;z-index:0; overflow:hidden;">
                    <img data-u="caption" data-t="0" style="position:absolute;top:0px;left:10px;width:365px;height:210px;z-index:0; border-radius:20px; padding-top:3px;" src="~/img/buy-now_banner_galaxy-s8_m.jpg" />

                    <img data-u="caption" data-t="1" style="position:absolute;top:0px;left:384px;width:365px;height:210px;z-index:0; border-radius:20px;padding-top:3px;" src="~/img/buy-now_banner_galaxy-s8_m.jpg" />
                </div>
                <img style="position:absolute;top:4px;left:45px;width:379px;height:213px;z-index:0;" src="~/img/c-navigator-horizontal.png" />
                <img data-u="caption" data-t="2" style="position:absolute;top:476px;left:454px;width:63px;height:77px;z-index:0;" src="~/img/hand.png" />

            </div>
        </div>
        <div>
            <img data-u="image" src="~/img/sm-buyuk/ipad-608206_1920.jpg" />
        </div>
        <div>
            <img data-u="image" src="~/img/sm-buyuk/modern-analyst-1317115_1920.jpg" />
        </div>
        <a data-u="any" href="https://www.jssor.com/wordpress.html" style="display:none">wordpress gallery</a>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
</div>
<br />
<script type="text/javascript">jssor_1_slider_init();</script>
<div id="fh5co-about-us" data-section="about">
    <div class="container">
        <div class="row row-bottom-padded-lg" id="about-us">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">REBEL ELEKTRONİK HAKKINDA</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <h3>Hızlı, güvenilir ve teknik olarak donanımlı ekibimizle mobil cihazlarınızın hertürlü sorununu çözmek için buradayız.</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8 to-animate">
                <img src="~/img/sm-buyuk/modern-analyst-1317115_1920.jpg" class="img-responsive img-rounded" alt="Rebel Elektronik">
            </div>
            <div class="col-md-4 to-animate">
                <h2>Nasıl Başladık...</h2>
                <p>xxxx yılından beri teknolojinin öncü kuruluşu olan Samsung mobil cihazlarında müşterilerimize en kaliteli hizmeti vermek için çalışmaktayız.</p>
                <p><a href="#" class="btn btn-primary">BİZİ TANIYIN</a></p>
            </div>
        </div>
        <!-- <div class="row" id="team">
             <div class="col-md-12 section-heading text-center to-animate">
                 <h2>Team</h2>
             </div>
             <div class="col-md-12">
                 <div class="row row-bottom-padded-lg">
                     <div class="col-md-4 text-center to-animate">
                         <div class="person">
                             <img src="images/person2.jpg" class="img-responsive img-rounded" alt="Person">
                             <h3 class="name">John Doe</h3>
                             <div class="position">Web Developer</div>
                             <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                             <ul class="social social-circle">
                                 <li><a href="#"><i class="icon-twitter"></i></a></li>
                                 <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                 <li><a href="#"><i class="icon-instagram"></i></a></li>
                                 <li><a href="#"><i class="icon-github"></i></a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-md-4 text-center to-animate">
                         <div class="person">
                             <img src="images/person3.jpg" class="img-responsive img-rounded" alt="Person">
                             <h3 class="name">Rob Smith</h3>
                             <div class="position">Web Designer</div>
                             <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                             <ul class="social social-circle">
                                 <li><a href="#"><i class="icon-twitter"></i></a></li>
                                 <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                 <li><a href="#"><i class="icon-instagram"></i></a></li>
                                 <li><a href="#"><i class="icon-dribbble"></i></a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-md-4 text-center to-animate">
                         <div class="person">
                             <img src="images/person4.jpg" class="img-responsive img-rounded" alt="Person">
                             <h3 class="name">John Doe</h3>
                             <div class="position">Photographer</div>
                             <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
                             <ul class="social social-circle">
                                 <li><a href="#"><i class="icon-twitter"></i></a></li>
                                 <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                 <li><a href="#"><i class="icon-instagram"></i></a></li>
                                 <li><a href="#"><i class="icon-github"></i></a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>-->
    </div>
</div>
<div id="fh5co-our-services" data-section="services">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">HİZMETLERİMİZ</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <h3>Far far away, behınd the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box to-animate">
                    <div class="icon colored-1"><span><i class="icon-mobile"></i></span></div>
                    <h3>Akıllı Telefonlar</h3>
                    <p>Akıllı telefonlar da oluşabilecek her türlü hasarı garanti kapsamında yada garanti dışı olanlarda da uygun ücretlerle tamir işlemlerini yapmaktayız.</p>
                </div>
                <!--<div class="box to-animate">
                    <div class="icon colored-4"><span><i class="icon-heart"></i></span></div>
                    <h3>Made with love</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>-->
            </div>
            <div class="col-md-4">
                <div class="box to-animate">
                    <div class="icon colored-2"><span><i class="icon-tablet"></i></span></div>
                    <h3>Tabletler</h3>
                    <p>Tabletler de oluşabilecek her türlü hasarı garanti kapsamında yada garanti dışı olanlarda da uygun ücretlerle tamir işlemlerini yapmaktayız.</p>
                </div>
                <!--<div class="box to-animate">
                    <div class="icon colored-5"><span><i class="icon-rocket"></i></span></div>
                    <h3>Fast &amp; light</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>-->
            </div>
            <div class="col-md-4">
                <div class="box to-animate">
                    <div class="icon colored-3"><span><i class="icon-headphones"></i></span></div>
                    <h3>Aksesuarlar</h3>
                    <p>Akıllı telefon yada tabletlerinizin aksesuarların da oluşabilecek her türlü hasarı garanti kapsamında yada garanti dışı olanlarda da uygun ücretlerle tamir işlemlerini yapmaktayız.</p>
                </div>
                <!--<div class="box to-animate">
                    <div class="icon colored-6"><span><i class="icon-user"></i></span></div>
                    <h3>For creative like you!</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>-->
            </div>
        </div>
    </div>
</div>

<div id="fh5co-features" data-section="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="single-animate animate-features-1">BAŞARILARIMIZ</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 single-animate animate-features-2">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                <div class="fh5co-icon"><i class="icon-present"></i></div>
                <div class="fh5co-desc">
                    <h3>100% Free</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                <div class="fh5co-icon"><i class="icon-eye"></i></div>
                <div class="fh5co-desc">
                    <h3>Retina Ready</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                <div class="fh5co-icon"><i class="icon-crop"></i></div>
                <div class="fh5co-desc">
                    <h3>Fully Responsive</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                <div class="fh5co-icon"><i class="icon-speedometer"></i></div>
                <div class="fh5co-desc">
                    <h3>Lightweight</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                <div class="fh5co-icon"><i class="icon-heart"></i></div>
                <div class="fh5co-desc">
                    <h3>Made with Love</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
                <div class="fh5co-icon"><i class="icon-umbrella"></i></div>
                <div class="fh5co-desc">
                    <h3>Eco Friendly</h3>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                </div>
            </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
                <a href="#" class="btn btn-primary btn-block">Daha Fazla Görüntüle</a>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-testimonials" data-section="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">SİZDEN GELENLER</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                    </div>
                </div>
                <div class="well">
                    <div class="col-md-4 col-md-offset-4 single-animate animate-features-3">
                        <a href="@Url.Action("Index","UserYorum")" class="btn btn-primary btn-block" style="margin:-17.5px;">SİZDE YORUM YAPIN</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-testimony to-animate">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quote-left"></i></span></span>
                        <p>&ldquo;@ViewBag.Yorum1&rdquo;</p>
                    </blockquote>                    
                    <p class="author"><img src="@ViewBag.Resim1" class="img-circle img-responsive" style="width:50px;" />@ViewBag.Adi1
                        <span class="subtext">@ViewBag.Tarih1</span></p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box-testimony to-animate">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quote-left"></i></span></span>
                        <p>&ldquo;@ViewBag.Yorum2&rdquo;</p>
                    </blockquote>
                    <p class="author"><img src="@ViewBag.Resim2" class="img-circle img-responsive" style="width:50px;" />@ViewBag.Adi2<span class="subtext">@ViewBag.Tarih2</span></p>
                </div>


            </div>
            <div class="col-md-4">
                <div class="box-testimony to-animate">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quote-left"></i></span></span>
                        <p>&ldquo;@ViewBag.Yorum3&rdquo;</p>
                    </blockquote>
                    <p class="author"><img src="@ViewBag.Resim3" class="img-circle img-responsive" style="width:50px;" />@ViewBag.Adi3 <span class="subtext">@ViewBag.Tarih3</span></p>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="fh5co-pricing" data-section="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="single-animate animate-pricing-1">Pricing</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="price-box to-animate">
                    <h2 class="pricing-plan">Starter</h2>
                    <div class="price"><sup class="currency">$</sup>7<small>/mo</small></div>
                    <p>Basic customer support for small business</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>10 projects</li>
                        <li>20 Pages</li>
                        <li>20 Emails</li>
                        <li>100 Images</li>
                    </ul>
                    <a href="#" class="btn btn-default btn-sm">Get started</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="price-box to-animate">
                    <h2 class="pricing-plan">Regular</h2>
                    <div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>
                    <p>Basic customer support for small business</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>15 projects</li>
                        <li>40 Pages</li>
                        <li>40 Emails</li>
                        <li>200 Images</li>
                    </ul>
                    <a href="#" class="btn btn-default btn-sm">Get started</a>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 to-animate">
                <div class="price-box popular">
                    <div class="popular-text">Best value</div>
                    <h2 class="pricing-plan">Plus</h2>
                    <div class="price"><sup class="currency">$</sup>79<small>/mo</small></div>
                    <p>Basic customer support for small business</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>Unlimitted projects</li>
                        <li>100 Pages</li>
                        <li>100 Emails</li>
                        <li>700 Images</li>
                    </ul>
                    <a href="#" class="btn btn-primary btn-sm">Get started</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="price-box to-animate">
                    <h2 class="pricing-plan">Enterprise</h2>
                    <div class="price"><sup class="currency">$</sup>125<small>/mo</small></div>
                    <p>Basic customer support for small business</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>Unlimitted projects</li>
                        <li>Unlimitted Pages</li>
                        <li>Unlimitted Emails</li>
                        <li>Unlimitted Images</li>
                    </ul>
                    <a href="#" class="btn btn-default btn-sm">Get started</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="fh5co-press" data-section="press">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="single-animate animate-press-1">Press Releases</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Press Item -->
                <div class="fh5co-press-item to-animate">
                    <div class="fh5co-press-img" style="background-image: url('../img/img_7.jpg')">
                    </div>
                    <div class="fh5co-press-text">
                        <h3 class="h2 fh5co-press-title">Simplicity <span class="fh5co-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="@Url.Action("Index","Servisler")" class="btn btn-primary btn-sm">Servis Test</a></p>
                    </div>
                </div>
                <!-- Press Item -->
            </div>

            <div class="col-md-6">
                <!-- Press Item -->
                <div class="fh5co-press-item to-animate">
                    <div class="fh5co-press-img" style="background-image: url('../img/img_8.jpg')">
                    </div>
                    <div class="fh5co-press-text">
                        <h3 class="h2 fh5co-press-title">Versatile <span class="fh5co-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="@Url.Action("TcSorgu","Servisler")" class="btn btn-primary btn-sm">Tc Sorgulama</a></p>
                    </div>
                </div>
                <!-- Press Item -->
            </div>

            <div class="col-md-6">
                <!-- Press Item -->
                <div class="fh5co-press-item to-animate">
                    <div class="fh5co-press-img" style="background-image: url('../img/img_9.jpg');">
                    </div>
                    <div class="fh5co-press-text">
                        <h3 class="h2 fh5co-press-title">Aesthetic <span class="fh5co-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
                <!-- Press Item -->
            </div>

            <div class="col-md-6">
                <!-- Press Item -->
                <div class="fh5co-press-item to-animate">
                    <div class="fh5co-press-img" style="background-image: url('../img/img_10.jpg');">
                    </div>
                    <div class="fh5co-press-text">
                        <h3 class="h2 fh5co-press-title">Creative <span class="fh5co-border"></span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eius quos similique suscipit dolorem cumque vitae qui molestias illo accusantium...</p>
                        <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
                    </div>
                </div>
                <!-- Press Item -->
            </div>

        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:#000000;">
    <div class="col-md-3">
        <p style="color:azure;margin-top:50px;">
            asdşasdşlşaslkşdaşlsdlşasdşasdşlşaslkşdaşlsdlşasdşasdşlşaslk<br />asdşasdşlşaslkşdaşlsdlşasdşasdşlşaslkşdaşlsdlşasdşasdşlşaslk <br />asdşasdşlşaslkşdaşlsdlşasdşasdşlşaslkşdaşlsdlşasdşasdşlşaslk<br />
            <br />asdşasdşlşaslkşdaşlsdlşasdşasdşlşaslkşdaşlsdlşasdşasdşlşaslk<br />asdşasdşlşaslkşdaşlsdlşasdşasdşlşaslkşdaşlsdlşasdşasdşlşaslk
        </p>
    </div>
    <div class="col-md-9">
        @*src="http://images.samsung.com/is/content/samsung/p5/tr/smartphones/galaxy-s8/videos/accessories-charger.mp4"*@
        <video id="Video1" autoplay name="media" width="900" height="500" style="padding-left:8em;" onclick="restart()"><source src="~/img/pressure_touch.mp4" type="video/mp4"></video>
    </div>
</div>
<br />
@*<script type="text/javascript">

    function restart() {
        var video = document.getElementById("Video1");
        video.currentTime = 0;
    }
</script>*@
